.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    transition: 1s all;
}

.navbar--hide{
    top: -100px;
}

.navbar:hover {
    background-color: rgba(0,0,0,0.45);
}

.navbar > ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin: 0px;
}

.navbar > ul > li {
    flex: 1;
    text-align: center;
}

.navbar ul li a {
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: 1px 1px 2px black,
                 1px 1px 2px black,
                 1px 1px 2px black,
                 1px 1px 2px black;
    -webkit-user-drag: none;
    font-weight: bold;
    color: var(--off-white);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navbar > ul > li > a:hover {
    color: var(--teal);
}

.navbar ul li a.hightlight {
}

.navbar ul li a svg {
}

.navbar ul li a span.linkTitle {
}


@media screen and (min-width: 768px) {
    .navbar > ul {
    }
    .navbar ul li a {
        font-size: 1.4em;
    }
}