@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

:root {
    --light-green: #BDD9BF;
    --dark-blue: #2E4052;
    --dark-brown: #040303;
    --dark-green: #6A7B76;
    --green: #8B9D83;
    --light-brown: #45312B;

    --teal: #21B199;
    --light-charcoal: rgb(75, 71, 71);
    --charcoal: #3B3535;
    --off-white: #F7F5F5;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px auto;
    box-sizing: content-box;
    font-family: 'Raleway', sans-serif;
}

html, body, #__next,  #__next > div, .universe, .body-content, .intro {
    height: 100%;
}

.universe {
    background-color: var(--charcoal);
}

.body-content {
}

.intro {
    position: relative;
}

.intro__backdrop  {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/intro_backdrop.jpg");
}

.intro__message { 
    position: absolute;
    bottom: 45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    text-align: center;
    color: var(--off-white);
}

@media screen and (min-width: 768px){
    .intro__message { 
        font-size: 4em;
    }
}

.about-content {
    position: relative;
    background-color: var(--charcoal);
}

.about-blurb {
    background-color: var(--charcoal);
}

.about-blurb__title {
    color: var(--off-white);
    margin-left: 20px;
    margin-bottom: 0px;
}

.about-blurb__img {
    padding: 20px;
}

.about-blurb__img > img{
    width: 100%;
}

.about-blurb__text{
    position: relative;
    color: var(--teal);
    font-size: 1.6em;
    line-height: 1.2em;
    align-self: center;
    vertical-align: bottom;
    padding-left: 20px;
    padding-right: 20px;
}    

.quotes ul,
.core-values ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.quotes {
    padding: 50px 20px;
    font-size: 2em;
    font-style: italic;
}

.quotes > h3 {
    color: white;
    font-style: normal;
}

.quotes ul li::before {
    content: "\""
}
.quotes ul li::after {
    content: "\""
}


.core-values {
    padding: 50px 20px;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
}

.core-values > h3 {
    color: white;
}

.about-content ul li {
    margin-top: 20px;
}

.about-content ul li:nth-child(n + 1){
    color: var(--teal);
}
.about-content ul li:nth-child(2n + 1) {
    color: #FFCCFF;
}
.about-content ul li:nth-child(3n + 1) {
    color: var(--light-green);
}



.about-spacer {
    display: block;
    width: 100%;
    height: 50px;

}


@media screen and (min-width: 768px){
    .about-blurb {
        display: grid;
        align-content: center;
        grid-template-columns: 500px 20px 1fr;
        grid-template-areas: " title none none"
        "img . text";
    }

    .about-blurb__title {
        grid-area: title;
    }

    .about-blurb__img {
        grid-area: img;
        align-self: flex-start;
    }

    .about-blurb__text{
        grid-area: text;
    }
}

.credits {
    width: 100%;
    background-color: #2E4052;
    padding: 20px 0;
    text-align: center;
}

.credits__title {
    color: var(--off-white);
    margin: 0px 0px 10px 0px;
}

.credits__list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: var(--off-white);
}


.credits ul.credits__list li {
    text-align: center;
}

.credits__list a {
    color: var(--teal);
    text-decoration: underline;
}
.credits__list a:hover {
    text-decoration: underline;
}

.resume {
    display: flex;
    flex-wrap: wrap;
}

.resume-section {
    flex: 1 1 100%;
    background-color: var(--charcoal);
}
.resume-section__title {
    font-family: 'Playfair Display', sans-serif;
    color: var(--off-white);
    font-size: 2em;
    padding: 10px;
    margin: 0px;
}

.resume-section__container {
    margin: 0px;
}


.picture-frame {
    padding: 10px;
    background-image: url("/images/intro_backdrop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.picture-frame > div {
    padding: 0px 25px;
    display: block;
    overflow: hidden;
    height: 225px;
    transition: 1s linear all;
    background-color: var(--off-white);
}

.picture-frame > div.project-item {
    height: 150px;
}

.picture-frame.active > div {
    height: auto;
}

.picture-frame__toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    font-size: 2em;
    font-weight: lighter;
    color: #ccc;
    border: none;
    outline: none;
}

@media screen and (min-width: 768px){
    .resume-section__title {
        padding: 100px 0px 25px 40px;
    }

    .resume-section:first-of-type > .resume-section__title {
        padding: 25px 0px 25px 40px;
    }

    .resume-section.resume-section--split { 
        flex: 1 1 40%;
        padding: 0px;
        margin: 0px;
    }

    .picture-frame {
        padding: 100px;
    }

    .picture-frame > div {
        min-width: 300px;
    }

    .picture-frame__toggle-btn {
        top: 120px;
        right: 120px;
    }

}


.job-item__company,
.project-item__name
{
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.8em;
    padding-top: 50px;
    margin: 0px;
}

.job-item__title,
.project-item__timeframe {
    font-size: 1.2em;
    font-weight: bold;
}

.job-item__timeframe
{
    font-size: 1em;
}


.job-item__description,
.project-item__description
{
    margin-top: 75px;
    margin-right: 50px;
}

.job-item__responsibilities {
    margin-bottom: 50px;
}
.job-item__responsibilities li {
    margin-top: 10px;
    line-height: 1.4em;
}

 .resume-section__container {
    display: flex;
    flex-flow: row wrap;
}
.resume-section__container > .picture-frame {
    flex: 1 1 30%;
}

.project-item {
    background-color: var(--green);
}

.project-item__media {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-flow: row wrap;
    margin: 0px;
    font-size: 2em;
    padding: 20px;
}

.project-item__media > .media-file-image {
    min-width: 33%;
    flex: 1 1;
}

.resume-education {
    background-color: var(--off-white);
}
.resume-education .resume-section__title {
    background-color: var(--charcoal);
}

.resume-education .resume-section__container{
    background-color: var(--off-white);
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}

.resume-education .resume-section__container div {
    flex: 1 1 100%;
}

.education-item {
    display: flex;
    flex-wrap: wrap;
}

.education-item__school, 
.education-item__major-degree,
.education-item__minor-degree, 
.education-item__timeframe,
.education-item__activities,
.education-item__awards,
.education-item__misc {
    flex: 1 1 100%;
}

.education-item__school {
    order: 1;
}
.education-item__major-degree {
    order: 2;
}
.education-item__minor-degree {
    order: 3;
}
.education-item__timeframe {
    order: 4;
}
.education-item__activities {
    order: 5;
}
.education-item__awards {
    order: 6;
}
.education-item__misc {
    margin-top: 50px;
    order: 7;
}

.education-item__major-degree,
.education-item__minor-degree {
    font-weight: bold;
}

.education-item__major-degree__list > li::before {
    content: 'Major in ';
}

.education-item__minor-degree__list > li::before {
    content: 'Minor in ';
}

.education-item__major-degree__list,
.education-item__minor-degree__list,
.education-item__activities__list,
.education-item__awards__list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.education-item__school {
    margin-bottom: 0px;
}

.resume-vocation { 
}

.resume-vocation > .resume-section__container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    background-color: var(--off-white);
}

.skill-list {
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 50px;
}

.skill-list__title {
    font-family: 'Raleway';
    margin-bottom: 0px;
}

.skill-item {
    margin: 5px auto;
}

.skill-item__level {
    display: none;
}

.certificate-item{
    display: flex;
    flex-wrap: wrap;
}


.certificate-item__name,
.certificate-item__org,
.certificate-item__timeframe {
    flex: 1 1 100%;
}

.certificate-item__name {
    order: 2;
    font-weight: bold;
}

.certificate-item__org {
    margin-top: 20px;
    margin-bottom: 5px;
    order: 1;
    font-size: 1.5em;
    font-weight: bold;
}
.certificate-item__timeframe {
    order: 3;
}

.resume-download { 
    background-color: var(--teal);
    color: var(--charcoal);
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.resume-download > .resume-section__container {
    display: inherit;
}

.media-file {
}

.media-file > a {
    color: #21B199;
    text-decoration: none;
}


.media-file-image > img{
    width: 100%;
}

.media-file > a > svg {
    margin-right: 5px;
}

.top-scroll-btn {
    background-color: var(--charcoal);
    color: var(--off-white);
    z-index: 99;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    outline: transparent;
    transition: .5s linear all;
    opacity: 0;
    overflow: hidden;
}

.top-scroll-btn__label{
    position: absolute;
    left: 20px;
    bottom: -50px;
    text-align: center;
    white-space: nowrap;
    transition: 1s ease-out all;
}

.top-scroll-btn:hover  {
    width: 100px;
    height: 70px;
}
.top-scroll-btn:hover > .top-scroll-btn__label{
    bottom: 10px;
}


.top-scroll-btn.show {
    opacity: 1;
}

.title {
    font-family: 'Playfair Display', sans-serif;
}
.text {
    font-family: 'Raleway', sans-serif;
}

.navbar-space {
    padding-top: 66px;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-split {
    display: flex;
    flex-wrap: wrap;
}

.flex-split > div {
    flex: 1 1 50%;
}

.about-gallery {
    display: flex;
    flex-flow: row wrap;
}

.about-gallery__picture {
    flex: 1 1 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(33, 177, 153, .3);
}

@media screen and (min-width: 768px){
    .flex-split {
        flex-wrap: nowrap;
    }
    .about-gallery__picture {
        flex: 1 0 33%;
        height: 800px;
    }
}